<app-navbar></app-navbar>

<!-- Hero Section with Search -->
<div class="relative py-28 px-4 md:px-8 text-white text-center bg-cover bg-center" style="background-image: url('assets/home/faq-bg.webp');">
  <!-- Gradient Overlay -->
  <div class="absolute inset-0 bg-gradient-to-r from-green-800 to-green-600 opacity-80"></div>
  <!-- Content Container -->
  <div class="relative max-w-7xl mx-auto">
    <h1 class="text-5xl font-bold mb-6 text-left">{{ 'COUNTRIES.TITLE' | translate }}</h1>
    <p class="text-xl leading-relaxed mb-6 text-left">{{ 'COUNTRIES.DESCRIPTION' | translate }}</p>

    <!-- Search Box with Button -->
    <div class="relative w-3/5 md:w-2/3 mb-6 text-left flex">
        <input type="text" [(ngModel)]="searchQuery" placeholder="{{ 'COUNTRIES.SEARCH_PLACEHOLDER' | translate }}"
            class="flex-grow py-4 px-12 rounded-l-sm shadow-md text-green-700 border-none focus:outline-none focus:ring-2">
        <img src="assets/home/search.svg" alt="Search" class="absolute left-2 top-1/2 transform -translate-y-1/2 w-8 h-8">
        <button class="bg-green-900 text-white px-4 md:px-6 py-2 md:py-4 text-sm md:text-base rounded-r-sm shadow-md transition-all">
        {{ 'COUNTRIES.SEARCH_BUTTON' | translate }}
        </button>
    </div>

    <!-- Tags Section -->
    <div class="flex flex-wrap gap-2 justify-start">
      <span class="bg-white px-4 py-2 rounded-md text-sm font-medium cursor-pointer text-green-700">{{ 'COUNTRIES.TAGS.AFRICA' | translate }}</span>
      <span class="bg-white px-4 py-2 rounded-md text-sm font-medium cursor-pointer text-green-700">{{ 'COUNTRIES.TAGS.ASIA' | translate }}</span>
      <span class="bg-white px-4 py-2 rounded-md text-sm font-medium cursor-pointer text-green-700">{{ 'COUNTRIES.TAGS.EUROPE' | translate }}</span>
      <span class="bg-white px-4 py-2 rounded-md text-sm font-medium cursor-pointer text-green-700">{{ 'COUNTRIES.TAGS.NORTH_AMERICA' | translate }}</span>
      <span class="bg-white px-4 py-2 rounded-md text-sm font-medium cursor-pointer text-green-700">{{ 'COUNTRIES.TAGS.SOUTH_AMERICA' | translate }}</span>
      <span class="bg-white px-4 py-2 rounded-md text-sm font-medium cursor-pointer text-green-700">{{ 'COUNTRIES.TAGS.OCEANIA' | translate }}</span>
    </div>
  </div>
</div>


<div class="main-content max-w-7xl mx-auto my-8 px-4 md:px-8 grid grid-cols-1 md:grid-cols-3 gap-6">
  <!-- Countries List -->
  <div class="countries-list md:col-span-1">
    <h2 class="text-2xl font-bold mb-4 text-green-700">{{ 'COUNTRIES.LIST_TITLE' | translate }}</h2>
    <ul class="space-y-4">
      <li *ngFor="let country of countriesList">
        <div class="flex items-center gap-4 p-3 border rounded-md bg-white shadow-sm">
          <img [src]="country.flag" alt="{{ country.country }} Flag" class="w-10 h-10">
          <div>
            <h3 class="font-semibold">{{ country.country }}</h3>
            <p class="text-sm text-gray-600">{{ country.currency }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <!-- Exchange Rates Card -->
  <div class="exchange-card md:col-span-2">
    <div class="max-w-lg w-full p-6 bg-white rounded-lg shadow-lg">
      <!-- You Send Section -->
      <div class="mb-4 relative">
        <div class="absolute -top-3 left-3 bg-white px-3 py-1 rounded-sm text-sm font-semibold z-10">
          <span class="bg-green-700 text-white px-3 py-1 rounded-sm">{{ 'HOME.SEND' | translate }}</span>
        </div>
        <div class="flex items-center justify-between mt-6 p-4 border border-green-700 rounded-lg relative">
          <input type="number" [(ngModel)]="amountToSend" (input)="onAmountToSendChange()" class="text-2xl font-semibold text-gray-800 focus:outline-none w-32 bg-transparent">
          <div class="flex items-center gap-2 bg-green-100 px-3 py-2 rounded-lg cursor-pointer" (click)="toggleSendDropdown()">
            <img [src]="'assets/home/flags/' + selectedSendCurrency.toLowerCase() + '.svg'" alt="Currency Flag" class="w-8 h-8 rounded-full">
            <span class="font-medium text-gray-800">{{ selectedSendCurrency }}</span>
            <img src="assets/home/chevron.svg" alt="Chevron Down" class="w-4 h-4">
          </div>

          
          <!-- <div *ngIf="isSendDropdownOpen" class="absolute right-0 top-16 w-72 bg-white border border-gray-700 rounded-md shadow-xl z-50">
            <div class="p-2 border-b flex items-center justify-between">
              <input [(ngModel)]="searchQueryCurrency" placeholder="Search" class="w-full p-2 border rounded-md focus:outline-none mr-2">
              <button (click)="toggleSendDropdown()" class="p-1 hover:bg-gray-100 rounded-full">
                <img src="assets/navbar/close.svg" alt="Close" class="w-6 h-6">
              </button>
            </div>
            <ul class="max-h-60 overflow-y-auto">
              <li *ngFor="let currency of countriesList | filter:searchQueryCurrency:'country,currency'" (click)="selectSendCurrency(currency.currency)" class="p-3 flex items-center hover:bg-green-200 cursor-pointer">
                <img [src]="currency.flag" alt="{{ currency.country }} Flag" class="w-6 h-6 mr-3">
                <span class="text-sm font-medium">{{ currency.country }}</span>
                <span class="ml-auto text-sm">{{ currency.currency }}</span>
              </li>
            </ul>
          </div> -->
        </div>
        <p class="text-sm font-medium text-green-700 mt-2">1 {{ selectedSendCurrency }} = {{ exchangeRate | number:'1.2-2' }} {{ selectedReceiveCurrency }}</p>
      </div>

      <!-- Divider with line and dot -->
      <div class="flex items-center mb-4">
        <div class="flex-grow border-t border-gray-300"></div>
        <div class="w-2 h-2 rounded-full bg-green-700 mx-2"></div>
        <div class="flex-grow border-t border-gray-300"></div>
      </div>

      <!-- They Get Section -->
      <div class="mb-4 relative">
        <div class="absolute -top-3 left-3 bg-white px-3 py-1 rounded-sm text-sm font-semibold z-10">
          <span class="bg-green-700 text-white px-3 py-1 rounded-sm">{{ 'HOME.RECEIVE' | translate }}</span>
        </div>
        <div class="flex items-center justify-between mt-6 p-4 border border-green-700 rounded-lg relative">
          <span class="text-2xl font-semibold text-gray-800">{{ amountToReceive | number:'1.2-2' }}</span>
          <div class="flex items-center gap-2 bg-green-100 px-3 py-2 rounded-lg cursor-pointer" (click)="toggleReceiveDropdown()">
            <img [src]="'assets/home/flags/' + selectedReceiveCurrency.toLowerCase() + '.svg'" alt="Currency Flag" class="w-8 h-8 rounded-full">
            <span class="font-medium text-gray-800">{{ selectedReceiveCurrency }}</span>
            <img src="assets/home/chevron.svg" alt="Chevron Down" class="w-4 h-4">
          </div>

          <!-- Currency Dropdown for Receiving -->
          <div *ngIf="isReceiveDropdownOpen" class="absolute right-0 top-16 w-72 bg-white border border-gray-700 rounded-md shadow-xl z-50">
            <div class="p-2 border-b flex items-center justify-between">
              <input [(ngModel)]="receiveSearchQuery" placeholder="Search" class="w-full p-2 border rounded-md focus:outline-none mr-2">
              <button (click)="toggleReceiveDropdown()" class="p-1 hover:bg-gray-100 rounded-full">
                <img src="assets/navbar/close.svg" alt="Close" class="w-6 h-6">
              </button>
            </div>
            <ul class="max-h-60 overflow-y-auto">
              <li *ngFor="let currency of countriesList | filter:receiveSearchQuery:'country,currency'" (click)="selectReceiveCurrency(currency.currency)" class="p-3 flex items-center hover:bg-green-200 cursor-pointer">
                <img [src]="currency.flag" alt="{{ currency.country }} Flag" class="w-6 h-6 mr-3">
                <span class="text-sm font-medium">{{ currency.country }}</span>
                <span class="ml-auto text-sm">{{ currency.currency }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Custom Dropdown for Receive Method Section -->
      <!-- <div class="mb-4 relative">
        <div class="absolute -top-4 left-3 bg-white px-3 py-1 rounded-md text-sm text-green-900 font-semibold z-10">{{ 'HOME.RECEIVE_METHOD' | translate }}</div>
        <div class="relative mt-6">
          <button (click)="toggleMethodDropdown()" class="w-full p-4 border border-green-900 rounded-lg flex justify-between items-center text-gray-800 bg-transparent">
            <span>{{ selectedMethod }}</span>
            <img src="assets/home/chevron.svg" alt="Chevron Down" class="w-4 h-4 text-white">
          </button>
          <div *ngIf="isMethodDropdownOpen" class="absolute w-full mt-2 bg-white border border-green-900 rounded-lg shadow-lg z-10">
            <ul class="text-gray-800">
              <li *ngFor="let method of methods" (click)="selectMethod(method)" class="p-3 hover:bg-green-200 cursor-pointer transition-colors">
                {{ method }}
              </li>
            </ul>
          </div>
        </div>
      </div> -->

      <!-- Fee, Transfer Time, and Total Section -->
      <div class="mb-4 text-gray-800">
        <div class="flex justify-between py-1">
          <span class="text-sm">{{ 'HOME.FEE' | translate }}</span>
          <span class="text-sm font-semibold">0 {{ selectedSendCurrency }}</span>
        </div>
        <div class="flex justify-between py-1">
          <span class="text-sm">{{ 'HOME.TRANSFER_TIME' | translate }}</span>
          <span class="text-sm font-semibold text-green-600">{{ 'HOME.WITHIN_TWO_DAYS' | translate }}</span>
        </div>
        <div class="flex justify-between py-1 border-t pt-1 mt-1">
          <span class="text-sm">{{ 'HOME.TOTAL_PAY' | translate }}</span>
          <span class="text-sm font-semibold">{{ amountToSend | number:'1.2-2' }} {{ selectedSendCurrency }}</span>
        </div>
      </div>

      <!-- Send Money Button -->
      <button class="w-full py-3 mt-2 bg-green-700 hover:bg-green-800 text-white font-semibold rounded-lg transition-colors" [routerLink]="['/on-app']">
        {{ 'HOME.SEND_MONEY' | translate }}
      </button>
    </div>
  </div>
</div>


<div class="bg-green-100 py-16 px-4 md:px-8 relative overflow-hidden">
  <div class="max-w-5xl mx-auto relative z-10">
    <!-- Section Title -->
    <h2 class="text-4xl font-bold text-green-900 text-center mb-4">{{ 'HOME.FAQ_SECTION.TITLE' | translate }}</h2>

    <p class="text-xl text-green-800 text-center mb-8">
      {{ 'HOME.FAQ_SECTION.DESCRIPTION' | translate }}
    </p>

    <!-- FAQ Container -->
    <div class="bg-white rounded-lg shadow-lg p-8 border-t-4 border-green-700 mt-2">
      <ul class="divide-y divide-gray-200">
        <li *ngFor="let faq of faqs; let i = index" class="py-6">
          <button (click)="toggleFaq(i)" class="w-full flex justify-between items-center text-left text-green-900 font-semibold text-xl focus:outline-none transition-all">
            {{ ('HOME.FAQ_SECTION.QUESTIONS' | translate)[i].QUESTION }}
            <span class="text-2xl">
              <img *ngIf="!faq.isOpen" src="assets/home/add.svg" alt="Expand" class="w-8 h-8">
              <img *ngIf="faq.isOpen" src="assets/home/minus.svg" alt="Collapse" class="w-8 h-8">
            </span>
          </button>
          <div *ngIf="faq.isOpen" class="mt-3 text-green-700 pl-10 faq-answer font-bold">
            {{ ('HOME.FAQ_SECTION.QUESTIONS' | translate)[i].ANSWER }}
          </div>
        </li>
      </ul>
    </div>

    <div class="text-center mt-8">
      <button 
        class="text-lg font-semibold text-green-900 border border-green-900 px-6 py-3 rounded-lg  transition" 
        routerLink="/faqs">
        {{ 'HOME.FAQ_SECTION.VISIT_FAQ_BUTTON' | translate }}
      </button>
    </div>
  </div>

  <!-- Background Image with Curved Right Edge -->
  <div class="absolute inset-y-0 left-0 w-2/3 bg-cover opacity-40" 
       style="background-image: url('assets/home/faq-bg.webp'); clip-path: ellipse(70% 100% at 30% 50%);">
  </div>
  
</div>


<!-- Call to Action Section -->
<div class="bg-[#f8f7f6] text-green-700 py-16 px-4 md:px-8 text-center">
  <div class="max-w-5xl mx-auto">
    <h2 class="text-4xl font-bold mb-4">{{ 'ABOUT.CTA_TITLE' | translate }}</h2>
    <p class="text-lg leading-relaxed mb-8">{{ 'ABOUT.CTA_DESCRIPTION' | translate }}</p>
    <button class="px-8 py-3 bg-white text-green-900 font-semibold rounded-lg  transition border border-green-700" routerLink="/contact-us">
      {{ 'ABOUT.CTA_BUTTON' | translate }}
    </button>
  </div>
</div>

<app-footer></app-footer>
