<!-- navbar.component.html -->
<nav class="w-full bg-white shadow-sm py-6 fixed z-[1000]">
  <div class="container mx-auto px-8">
    <div class="flex items-center justify-between">
      <!-- Logo Section with Language Dropdown -->
      <div class="flex items-center space-x-6">
        <a href="/" class="flex items-center">
          <!-- <img src="assets/navbar/logo.svg" alt="Z logo" class="w-8 h-8" /> -->
          <span class="logo-text mb-1 ml-0" style="color: #1d7951;">ZendP</span>
        </a>

        <!-- Language Dropdown -->
        <div class="relative">
          <button (click)="toggleDropdown()" class="flex items-center space-x-2 px-2 py-1 rounded-md border-2 border-green-900 text-green-900 hover:bg-green-50 transition-colors duration-200 language-toggle-btn">
            <img [src]="currentLanguage.flag" alt="flag" class="w-5 h-5 mr-1">
            <span class="font-medium hidden md:inline">{{ currentLanguage.name }}</span>
            <svg class="w-4 h-4 transition-transform duration-200" [ngClass]="{'rotate-180': isDropdownOpen}" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </button>

          <!-- Dropdown Menu -->
          <div *ngIf="isDropdownOpen" class="absolute mt-2 w-32 bg-white border border-gray-200 rounded-md shadow-lg py-1 z-50 dropdown-card">
            <button *ngFor="let lang of languages" (click)="selectLanguage(lang)" class="w-full px-2 py-2 text-left hover:bg-green-50 text-gray-700 hover:text-green-900 flex items-center space-x-2 dropdown-item">
              <img [src]="lang.flag" alt="flag" class="w-5 h-5">
              <span class="text-sm">{{ lang.name }}</span>
            </button>
          </div>
        </div>
      </div>

      <!-- Desktop Navigation Links -->
      <div class="hidden md:flex items-center space-x-10">
        <a routerLink="/join-team" routerLinkActive="text-green-600 font-bold" class="nav-link">{{ 'NAVBAR.CAREERS' | translate }}</a>
        <a routerLink="/faqs" routerLinkActive="text-green-600 font-bold" class="nav-link flex items-center">
          <img src="assets/navbar/faq.svg" alt="FAQ icon" class="w-5 h-5 mr-2">
          {{ 'NAVBAR.FAQS' | translate }}
        </a>
        <a routerLink="/security" routerLinkActive="text-green-900 font-bold" class="nav-link">{{ 'NAVBAR.COUNTRIES' | translate }}</a>
        <a routerLink="/contact" routerLinkActive="text-green-900 font-bold" class="nav-link">{{ 'NAVBAR.CONTACT_US' | translate }}</a>
        <a routerLink="/about" routerLinkActive="text-green-900 font-bold" class="nav-link">{{ 'NAVBAR.ABOUT_US' | translate }}</a>
      </div>

      <!-- Mobile Menu Button -->
      <button (click)="toggleMenu()" class="md:hidden text-green-900 hover:opacity-80 focus:outline-none">
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile Menu Links -->
  <div *ngIf="isMenuOpen" class="md:hidden fixed inset-0 bg-black bg-opacity-50 z-40" (click)="toggleMenu()"></div>
  <div class="md:hidden fixed inset-y-0 left-0 w-3/4 bg-white shadow-lg p-6 transform transition-transform duration-300 ease-in-out z-50" [ngClass]="{'translate-x-0': isMenuOpen, '-translate-x-full': !isMenuOpen}">
    <!-- Close Button -->
    <button (click)="toggleMenu()" class="close-button">
      <img src="assets/navbar/close.svg" alt="close">
      Close
    </button>
    <a routerLink="/join-team" class="block mb-2 nav-link text-green-900 font-bold">{{ 'NAVBAR.CAREERS' | translate }}</a>
    <a routerLink="/faqs" class="mb-2 nav-link text-green-900 font-bold flex items-center">
      <img src="assets/navbar/faq.svg" alt="FAQ icon" class="w-5 h-5 mr-2">
      {{ 'NAVBAR.FAQS' | translate }}
    </a>
    <a routerLink="/security" class="block mb-2 nav-link text-green-900font-bold">{{ 'NAVBAR.COUNTRIES' | translate }}</a>
    <a routerLink="/contact" class="block mb-2 nav-link text-green-900 font-bold">{{ 'NAVBAR.CONTACT_US' | translate }}</a>
    <a routerLink="/about" class="block nav-link text-green-900 font-bold">{{ 'NAVBAR.ABOUT_US' | translate }}</a>
  </div>
</nav>
