/* navbar.component.css */

:host {
  display: block;
  width: 100%;
}

.container {
  max-width: 1440px;
}

/* Updated logo styling */
.logo-text {
  font-size: 1.5rem;
  color: #00BF6D;
  font-weight: bold;
  display: inline;
  transition: transform 0.2s ease-in-out;
}

/* Rotation animation for dropdown */
.rotate-180 {
  transform: rotate(180deg);
}

/* Green color styles for navbar links */
.text-green-600, .border-green-600 {
  color: #00BF6D !important;
  border-color: #00BF6D !important;
}

.nav-link {
  color: #1d7951;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #00804B; /* Darker green for hover */
}

/* Dropdown styling */
.dropdown-card {
  width: 140px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .logo-text {
    font-size: 1.5rem;
  }

  .nav-link {
    font-size: 1rem;
  }

  .md\\:hidden {
    display: block;
  }

  .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 2px solid #1d7951;
    color: #1d7951;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    background-color: white;
  }

  .close-button img {
    width: 16px;
    height: 16px;
    margin-right: 0.5rem;
  }

  .language-toggle-btn {
    padding: 0.5rem;
  }
}
