
:host {
  display: block;
  width: 100%;
}


.text-gray-200 {
  color: rgba(255, 255, 255, 0.8);
}



h2 {
  color: white;
  font-weight: bold;
}

a {
  color: #FFFFFF;
  font-size: 1.125rem;
  transition: color 0.3s ease;
}

a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.flex .items-center img {
  filter: brightness(0) invert(1);
  width: 1.25rem;
  height: 1.25rem;
}

.pi {
  font-size: 1.5rem;
}

button {
  color: white;
  transition: background-color 0.3s ease;
}




@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  h2, a {
    font-size: 1rem;
  }
}

@keyframes moveUp {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.bounce-up {
  animation: moveUp 1.5s infinite ease-in-out;
}