<footer class="bg-green-900 py-12 relative">
  <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 text-white">
    <!-- Left Section: Logo and Description -->
    <div>
      <div class="flex items-center mb-4">
        <div class="p-1 rounded-full bg-white">
          <img src="assets/footer/z.svg" alt="Logo" class="h-10 w-10 rounded-full object-cover" />
        </div>
        <div class="ml-3">
          <h1 class="text-white text-lg font-bold">ZendP</h1>
          <p class="text-white text-sm font-medium">{{ 'FOOTER.TRUSTED_PARTNER' | translate }}</p>
        </div>
      </div>
      <p class="text-gray-200 text-base">{{ 'FOOTER.DESCRIPTION' | translate }}</p>
      <!-- Social Media Links -->
      <div class="flex space-x-4 mt-4">
        <a href="#" class="text-white hover:text-gray-200"><i class="pi pi-facebook"></i></a>
        <a href="#" class="text-white hover:text-gray-200"><i class="pi pi-twitter"></i></a>
        <a href="#" class="text-white hover:text-gray-200"><i class="pi pi-instagram"></i></a>
        <a href="#" class="text-white hover:text-gray-200"><i class="pi pi-linkedin"></i></a>
      </div>
    </div>

    <!-- Services Links -->
    <div>
      <h2 class="text-lg font-semibold text-white border-b-2 border-white mb-4">{{ 'FOOTER.SERVICES_TITLE' | translate }}</h2>
      <ul class="space-y-2 text-lg">
        <li class="flex items-center">
          <img src="assets/footer/chevron.svg" alt="chevron" class="mr-2 h-5 w-5">
          <a routerLink="/send-money" class="text-gray-200 hover:text-white transition duration-300">{{ 'FOOTER.SERVICES.TERMS' | translate }}</a>
        </li>
        <li class="flex items-center">
          <img src="assets/footer/chevron.svg" alt="chevron" class="mr-2 h-5 w-5">
          <a routerLink="/track-transfer" class="text-gray-200 hover:text-white transition duration-300">{{ 'FOOTER.SERVICES.SUPPORT' | translate }}</a>
        </li>
        <li class="flex items-center">
          <img src="assets/footer/chevron.svg" alt="chevron" class="mr-2 h-5 w-5">
          <a routerLink="/fees" class="text-gray-200 hover:text-white transition duration-300">{{ 'FOOTER.SERVICES.PRIVACY_POLICY' | translate }}</a>
        </li>
        <li class="flex items-center">
          <img src="assets/footer/chevron.svg" alt="chevron" class="mr-2 h-5 w-5">
          <a routerLink="/login" class="text-gray-200 hover:text-white transition duration-300">{{ 'FOOTER.SERVICES.CAREERS' | translate }}</a>
        </li>
      </ul>
    </div>

    <!-- Quick Links -->
    <div>
      <h2 class="text-lg font-semibold text-white border-b-2 border-white mb-4">{{ 'FOOTER.QUICK_LINKS_TITLE' | translate }}</h2>
      <ul class="space-y-2 text-lg">
        <li class="flex items-center">
          <img src="assets/footer/chevron.svg" alt="chevron" class="mr-2 h-5 w-5">
          <a routerLink="/countries" class="text-gray-200 hover:text-white transition duration-300">{{ 'FOOTER.QUICK_LINKS.COUNTRIES' | translate }}</a>
        </li>
        <li class="flex items-center">
          <img src="assets/footer/chevron.svg" alt="chevron" class="mr-2 h-5 w-5">
          <a routerLink="/about" class="text-gray-200 hover:text-white transition duration-300">{{ 'FOOTER.QUICK_LINKS.ABOUT_US' | translate }}</a>
        </li>
        <li class="flex items-center">
          <img src="assets/footer/chevron.svg" alt="chevron" class="mr-2 h-5 w-5">
          <a routerLink="/faq" class="text-gray-200 hover:text-white transition duration-300">{{ 'FOOTER.QUICK_LINKS.FAQ' | translate }}</a>
        </li>
        <li class="flex items-center">
          <img src="assets/footer/chevron.svg" alt="chevron" class="mr-2 h-5 w-5">
          <a routerLink="/contact-us" class="text-gray-200 hover:text-white transition duration-300">{{ 'FOOTER.QUICK_LINKS.CONTACT_US' | translate }}</a>
        </li>
      </ul>
    </div>

    <!-- Contact Information -->
    <div>
      <h2 class="text-lg font-semibold text-white border-b-2 border-white mb-4">{{ 'FOOTER.CONTACT_TITLE' | translate }}</h2>
      <ul class="space-y-4 text-lg">
        <li class="flex items-center">
          <img src="assets/footer/contact.svg" alt="Phone" class="h-8 w-8 mr-3">
          <span class="text-gray-200">{{ 'FOOTER.CONTACT.PHONE' | translate }}</span>
        </li>
        <li class="flex items-center">
          <img src="assets/footer/email.svg" alt="Email" class="h-8 w-8 mr-3">
          <span class="text-gray-200">{{ 'FOOTER.CONTACT.EMAIL' | translate }}</span>
        </li>
        <li class="flex items-center">
          <img src="assets/footer/location.svg" alt="Location" class="h-8 w-8 mr-3">
          <span class="text-gray-200">{{ 'FOOTER.CONTACT.ADDRESS' | translate }}</span>
        </li>
      </ul>
    </div>
  </div>

  <!-- Back to Top Button -->
  <button class="fixed right-6 bottom-20 bg-green-700  w-12 h-12 rounded-full flex items-center justify-center shadow-lg hover:bg-green-900 transition duration-300" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">
    <img src="assets/footer/chevron-up.svg" alt="Back to Top" class="h-6 w-6 object-cover bounce" />
  </button>
</footer>
